<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crawl Tiki Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Table of Content CSS -->
    <link href="/stylesheets/ToC.css" rel="stylesheet">

    <!-- Prism for TinyMCE -->
    <link href="/stylesheets/prism.min.css" rel="stylesheet" type="text/css">

    <!-- Wygwys editor -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=gkqdz2ga15k6pggad1jrd0355xkps10ewp0s7ct7dke3g746"></script>
    <script>
        tinymce.init({
          //selector: 'textarea',
          mode : "specific_textareas",
          editor_selector : "myTinyMCEEditor",
          height: 500,
          menubar: false,
          extended_valid_elements:'script[language|type|src],amp-img[src|width|height|layout|alt],amp-youtube[data-videoid|width|height|layout]',
          custom_elements: "amp-img, amp-youtube",
          plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code codesample toc help'
          ],
          codesample_languages: [
            {text: 'HTML/XML', value: 'markup'},
            {text: 'JavaScript', value: 'javascript'},
          ],
          toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code | codesample | toc | help',
          content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css']
        });
    </script>

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
