<% include ../partials/cms/header %>

<div id="wrapper">
    <% include ../partials/cms/nav %>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Manual Action</h1>
              </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <center><button type="button" class="btn btn-default btn-circle btn-xl"><i class="fa fa-check"></i></center>
                </div>
                <br>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    Crawl new products from Tiki.vn
                  </div>
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                  </div>
                  <div class="panel-footer">
                    Panel Footer
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <center><button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i></center>
                </div>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    Update Price of crawled products
                  </div>
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                  </div>
                  <div class="panel-footer">
                    Panel Footer
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <center><button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-link"></i></center>
                </div>
                <br>
                <div class="panel panel-green">
                  <div class="panel-heading">
                    Apply Linear Regression
                  </div>
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                  </div>
                  <div class="panel-footer">
                    Panel Footer
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

<% include ../partials/cms/footer %>
