<head>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/404.css">
</head>

<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <div>
            <h2>404! Xin lỗi, trang bạn đang tìm kiếm không tồn tại! </h2>
            <p style="font-size:16px;">
                Có vẻ như bạn đã đánh nhầm URL hoặc trang bạn cần không còn tồn tại.
                Vui lòng kiểm tra lại ngay.
            </p>
            <br>
            <a href="/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</body>
