<div class = "container">
  <section id="policy" style = "margin-bottom: 10px; background: #337ab7">
    <div class="container">
      <ul>
        <li class="columns">
          <div class="poli_item">
            <span class="poli_icon"><i class="fa fa-certificate"></i></span>
            <a href="#">
              <div class="poli_desc"><span>100% sản phẩm</span> chính hãng - giá tốt </div>
            </a>
          </div>
        </li>
        <li class="columns">
          <div class="poli_item">
            <span class="poli_icon"> <i class="fa fa-refresh"></i></span>
            <a href="#">
              <div class="poli_desc"> Đổi trả hàng <span>Trong vòng 7 ngày</span> </div>
            </a>
          </div>
        </li>
        <li class="columns">
          <div class="poli_item">
            <span class="poli_icon"><i class="fa fa-truck"></i></span>
            <a href="#">
              <div class="poli_desc"> Giao hàng miễn phí <span>trong vòng 24 giờ</span> </div>
            </a>
          </div>
        </li>
        <li class="columns">
          <div class="poli_item">
            <span class="poli_icon"> <i class="fa fa-money"></i></span>
            <a href="#">
              <div class="poli_desc"> Thanh toán <span>nhanh chóng & an toàn</span> </div>
            </a>
          </div>
        </li>
      </ul>
      <div class="cf"></div>
    </div>
  </section>
</div>
<!--end Policy-->
<!--end Newletters-->
<!-- end SEO content -->
<footer style = "background: black">
  <!-- FOOTER TOP -->
  <section class=" " id="footer-newsletter-box" style ="margin-top:1px; background: #337ab7">
    <div class="container page-builder-ltr">
      <div class="row row_9sqy ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_jqwv col-style">
          <div class="module news-letter">
            <div class="">
              <div class="title-block">
                <div class="page-heading">
                  <h4>Nhận thông tin khuyến mãi từ SoSanh.com</h4>
                </div>
              </div>
              <div class="block_content">



                <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn" >
        <button class="btn btn-default" type="submit" style = " background: yellow; color: black">  Đăng ký</button>
      </span>
    </div><!-- /input-group -->


              </div>
              <!--/.modcontent-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" section-image" id="store-box" >
    <div class="container page-builder-ltr">
      <div class="row row_lro8 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_1ulk col-style">
          <div class="yt-tabs basic  yt-clearfix ">
            <div class="">
              <div class="clearfix active" >
                <div class="row">
                  <div class="col-sm-6">
                    <p><span style="font-size:16px"><span class="fa fa-map-marker"></span></span><span style="font-size:16px">268 Lý Thường Kiệt, Phường 14, Quận 10, TPHCM</span></p>
                    <p><span style="font-size:16px"></span></p>
                    <p><span style="font-size:16px"><strong><span style="color:#cc0000"><span class="fa fa-phone" style="color:#ffffff"></span>&nbsp;</span><span style="color:#cc0000"></span><span style="color:#cc0000">1000000000</span><span style="color:#cc0000"></span><span style="color:#cc0000"></span></strong></span></p>
                    <p><span style="font-size:16px"><span class="fa fa-envelope"></span>&nbsp;SoSanh@gmail.com</span></p>
                    <p><span style="font-size:16px"><span class="fa fa-clock-o"></span>&nbsp;Giờ làm việc: 24h</span></p>
                  </div>
                  <div class="col-sm-6">
                    <iframe width="100%" height="230" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.7375230510226!2d106.6571342080269!3d10.774881648080665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec3c161a3fb%3A0xef77cd47a1cc691e!2sHo+Chi+Minh+City+University+of+Technology!5e0!3m2!1sen!2s!4v1523596310070" frameborder="0" allowfullscreen="" style="border:0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <!-- FOOTER CENTER -->
  <div class="footer-center">
    <div class="footer-center-1 container">
      <div class="row">
      </div>
    </div>
    <div class="footer-center-2">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER BOTTOM -->
  <div class="footer-bottom " style = " background: #337ab7">
    <div class="container" >
      <div class="row">
        <div class="col-sm-4 copyright">
          © SoSanh 2018 All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bundles/libraryscript6dbe?v=yO8Wx6-xlWPOfKAmjm2e0J13GbXzbogl21VFrfwzl1g1"></script>
<!-- <script src="bundles/jqueryUibd79?v=bcyTQsH7OGFZEqsqnZ6CibrPNvwdiXK__7F649I2ARk1"></script> -->
<script src="/bundles/commonscript7bdc?v=-A8pKd20pofNOVhk7i4LsBIkyoCyN_VOzbOEavOP5S81"></script>
<script src="/bundles/customermanagementc03b?v=ozO5J0SudmZ3RYmPyMxlLli01-YUB7NIN6dcOfUhtX41"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
