<!DOCTYPE html>

<html lang="en">
<style>
body {
    
    min-width: 330px;

    height: 100%;
}
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
	
	<link rel="stylesheet" href="catalog/style_render_326.css">

<link rel="stylesheet" href="catalog/orange.css">	

<link rel="stylesheet" type="text/css" href="catalog/custom.css">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=vietnamese' rel='stylesheet' type='text/css'> 	
	
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
<link href="Content/cssffec.css?v=JSZqQBY3iNhKIhQSyZHvRO5rfk3m-Q03hN6-80MeZuU1" rel="stylesheet"/>

<link href="Content/jqueryUi400c.css?v=YERHjWDWwnC4BaIKoYYsqvJpCoDQAr7x0PQ70btR_C01" rel="stylesheet"/>
	
<script src="jquery/jquery.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
    <span class="mb_right_hotline">
    <span class="mb_bar">
        <ul>
<<<<<<< HEAD
            <li> <span class="bar_dm">Danh mục</span> </li>
            <li>
                  <span class="">Điện thoại</span> </li>
            </li>
            <li> <a href="index.html"> <span>Trang chủ</span></a> </li>
            <li>
                <a href=""> <span id="bar_zopim">Gửi tin nhắn</span></a>
            </li>
            <li>
                <a href="gio-hang.html" rel="nofollow">
                    <div id="cart_soluong" class="total-quantity-cart">0</div>
                    <span id="bar_cart">Giỏ hàng</span>
                </a>
            </li>
=======
          <li>
            <span class="bar_dm">Danh mục</span>
          </li>
          <li>
            <span class="">Điện thoại</span>
          </li>
          <li>
            <a href="/"><span>Trang chủ</span></a>
          </li>
          <li>
            <a href=""> <span id="bar_zopim">Gửi tin nhắn</span></a>
          </li>
          <li>
            <a href="gio-hang.html" rel="nofollow">
              <div id="cart_soluong" class="total-quantity-cart">0</div>
              <span id="bar_cart">Giỏ hàng</span>
            </a>
          </li>
>>>>>>> 93a8bd377d8248be4cb6de03e339e23e5b22d745
        </ul>
        <img class="icon_bottom" style="width:100%;z-index:0;" src="Content/images/mb_bar_bgsk.png">
    </span>
</span>


    <!--#begin Header-->
	<Header >
	<div class="container-fluid" style = "background-color: black">
	
        <div class="container">
      
		<a href='index.html' id='logo' class='columns' style = "text-align: left; "> <h1 style= "font-size:300%; margin-left:0px; color: white" >SoSanh.com</h1> </a>
		
<!--Search Form-->

<div class="columns head_mid" style ="margin-top:13px; background:black "> 
    
<div class="input-group" style ="background:black">
      <input type="text" class="form-control" placeholder="Tìm kiếm">
      <span class="input-group-btn" >
        <button class="btn btn-default" type="button" style = " background: #337ab7; color: white"> <span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div><!-- /input-group -->

</div>
<!--end Search Form-->
<!--Cart Head-->

<!--end Cart Head-->
<!--Account-->
<div class="filter_name account_area fr">
        <i class="fa fa-user"></i>
        <div class="account_link_pad" style = "color:white"> <span class="account_login"><b>Đăng nhập</b></span><i class="i_view_more"></i> <span class="account_login_more">Tài khoản &amp; Đơn hàng</span> </div>
        <div class="contentEGP">
            <div class="form_head">
                <div class="dropdown_title">Đăng nhập</div>
                <div class="input_form">
                    <input type="text" id="txtemail" maxlength="50" class="input identity" placeholder="Email" />
                </div>
                <div class="input_form">
                    <input type="password" id="txtpass" class="input password" placeholder="Mật khẩu" />
                </div>
                <div class="login-notify"></div>
                <div class="input_form"> <a href="#" class="button" id="btnLogin" style = "height:45px">Đăng nhập <i class="arr_circle"></i></a></div>
                <div class="input_form note_wrapper"><a class="lost_password fl" href="quen-mat-khau.html">Quên mật khẩu?</a> <a rel="nofollow" href="dang-ky.html" class="fr">Đăng ký</a> </div>
            </div>
        </div>
</div>
<!--end Account-->
        </div>
		</div>
		
		<div class="container">
        <div class="head_bottom cf" style = "background: #337ab7; margin-top:12px">


    <!--Main Menu-->
    <div class="all_categories">
        <div class="menu_Tab" style = "background: #337ab7"><i class="icon_menu"></i>Danh mục sản phẩm</div>
        <div class="show_menu">
            <ul class="nav_menu" style="display: block">
                    <% for (var i=0; i <10; i++) { %>
                    <li class="m_li" id="menu2">
                 
                        <i class="icon_cate"> </i> <a class="t_menu" href = "" > <%=categories[i].name%></a>
                        <div class="list_categories">
                            <ul class="subcatwrapper">
                                    <li class="pc_menu">
                                       
                                        <ul>
                                                <li><a href="noi-com-dien.html"> Nồi cơm điện</a> </li>
                                                <li><a href="noi-ap-suat.html"> Nồi áp suất</a> </li>
                                                
                                        </ul>
                                    </li>
                                    
                                    
                                    
                                   
                                    
                            </ul>
                        </div>
                    </li>
               <% }; %>
                   
                   
                   
                    
            </ul>
        </div>
        <div class="cf"> </div>
    </div>
    <!--End Main Menu-->
    <!--Right Top Main-->
    
    <!--End Right Top Main-->
</div>
        </div>
  </Header>
