<!DOCTYPE html>
<html lang="en">
<style>
body {

    min-width: 330px;

    height: 100%;
}
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>

	<link rel="stylesheet" href="catalog/view/javascript/so_page_builder/css/style_render_326.css">

<link rel="stylesheet" href="catalog/view/theme/so-revo/css/layout1/orange.css">

<link rel="stylesheet" type="text/css" href="catalog/view/theme/so-revo/css/custom.css">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=vietnamese' rel='stylesheet' type='text/css'>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="Content/cssffec.css?v=JSZqQBY3iNhKIhQSyZHvRO5rfk3m-Q03hN6-80MeZuU1" rel="stylesheet"/>

<link href="Content/jqueryUi400c.css?v=YERHjWDWwnC4BaIKoYYsqvJpCoDQAr7x0PQ70btR_C01" rel="stylesheet"/>

<script src="jquery/jquery.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
     <span class="mb_right_hotline">
    <span class="mb_bar">
        <ul>
            <li> <span class="bar_dm">Danh mục</span> </li>
            <li>
                  <span class="">Điện thoại</span> </li>
            </li>
            <li> <a href="index.html"> <span>Trang chủ</span></a> </li>
            <li>
                <a href=""> <span id="bar_zopim">Gửi tin nhắn</span></a>
            </li>
            <li>
                <a href="gio-hang.html" rel="nofollow">
                    <div id="cart_soluong" class="total-quantity-cart">0</div>
                    <span id="bar_cart">Giỏ hàng</span>
                </a>
            </li>
        </ul>
        <img class="icon_bottom" style="width:100%;z-index:0;" src="Content/images/mb_bar_bgsk.png">
    </span>
</span>


    <!--#begin Header-->
	<Header >
	<div class="container-fluid" style = "background-color: black">

        <div class="container">

		<a href='index.html' id='logo' class='columns' style = "text-align: left; "> <h1 style= "font-size:300%; margin-left:0px; color: white" >SoSanh.com</h1> </a>

<!--Search Form-->

	<div class="columns head_mid" style = "background:black">

	<form class="navbar-form navbar-left" role="form">
	<div class="form-group">
	<input class="form-control" placeholder="Tìm Sản Phẩm" style="width:300px">
	</div>
	<button class="btn btn-primary" type="submit" style = "padding: 6px 6px" >Tìm Kiếm</button>
	</form>
	</div>
<!--end Search Form-->
<!--Cart Head-->
<div class="filter_name cart_link fr">
    <a href="gio-hang.html" rel="nofollow" style = "color:white">
        <i class="fa fa-shopping-cart"></i>
        <div class="cart_link_pad"> <span class="cart_title"><b >Giỏ hàng</b></span> <i class="i_view_more"></i> <span class="cart_status"><b class="total-quantity-cart" style = "color:white">0</b> sản phẩm </span> </div>
    </a>
</div>
<!--end Cart Head-->
<!--Account-->
<div class="filter_name account_area fr">
        <i class="fa fa-user"></i>
        <div class="account_link_pad" style = "color:white"> <span class="account_login"><b>Đăng nhập</b></span><i class="i_view_more"></i> <span class="account_login_more">Tài khoản &amp; Đơn hàng</span> </div>
        <div class="contentEGP">
            <div class="form_head">
                <div class="dropdown_title">Đăng nhập</div>
                <div class="input_form">
                    <input type="text" id="txtemail" maxlength="50" class="input identity" placeholder="Email" />
                </div>
                <div class="input_form">
                    <input type="password" id="txtpass" class="input password" placeholder="Mật khẩu" />
                </div>
                <div class="login-notify"></div>
                <div class="input_form"> <a href="#" class="button" id="btnLogin" style = "height:45px">Đăng nhập <i class="arr_circle"></i></a></div>
                <div class="input_form note_wrapper"><a class="lost_password fl" href="quen-mat-khau.html">Quên mật khẩu?</a> <a rel="nofollow" href="dang-ky.html" class="fr">Đăng ký</a> </div>
            </div>
        </div>
</div>
<!--end Account-->
        </div>
		</div>

		<div class="container">
        <div class="head_bottom cf" style = "background: #337ab7; margin-top:12px">


     <!--Main Menu-->
    <div class="all_categories all_cate_subpage">
	        <div class="menu_Tab" style = "background: #337ab7"><i class="icon_menu"></i>Danh mục sản phẩm</div>

        <div class="show_menu">
            <ul class="nav_menu" style="display: block">

                     <li class="m_li" id="menu2">
                        <i class="icon_cate"> </i> <a class="t_menu" href="do-gia-dung.html"> Đồ gia dụng</a>
                        <div class="list_categories">
                            <ul class="subcatwrapper">
                                    <li class="pc_menu">

                                        <ul>
                                                <li><a href="noi-com-dien.html"> Nồi cơm điện</a> </li>
                                                <li><a href="noi-ap-suat.html"> Nồi áp suất</a> </li>

                                        </ul>
                                    </li>





                            </ul>
                        </div>
                    </li>
















            </ul>
        </div>
        <div class="cf"> </div>
    </div>
    <!--End Main Menu-->
    <!--Right Top Main-->

    <!--End Right Top Main-->
</div>
        </div>
  </Header>
    <!--#end Header-->

<div class="container">
<div class="breadcrum">
    <div class="container"><a href="index.html" style = "margin-left:15px">Trang chủ</a> / <a href="dang-ky.html">Đăng ký</a> </div>
</div>
</div>
<div class="container cf">
    <!-- #Main -->
    <div id="main">
        <!--Form Regis-->
<form action="" class="form-horizontal" method="post" role="form"><input name="__RequestVerificationToken" type="hidden" value="7FJpCQ-5BTlixcYRNHQ_9XtdhnSga9gYM_vLUWQ5WL7Up-B7qVJyJAwaxcgmLCOhkoZUT6iPnxtgJ3X2sIBaK5nPnPzAYjFhiOTMpNHxaa81" />            <div class="form_web form_regis padd_tb15 cf">
                <div class="row_account">
                    <label class="item_title fl">Email <span class="required">*</span></label>
                    <div class="row_input">
                        <input class="inputbox" data-val="true" data-val-email="The EMAIL field is not a valid e-mail address." data-val-required="Vui lòng nhập email" id="EMAIL" name="EMAIL" placeholder="Địa chỉ email" type="text" value="" />
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl"> Mật khẩu <span class="required">*</span></label>
                    <div class="row_input">
                        <input class="inputbox" data-val="true" data-val-required="Vui lòng nhập mật khẩu" id="PASSWORD" name="PASSWORD" placeholder="Mật khẩu" type="password" />
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl"> Nhập lại mật khẩu <span class="required">*</span></label>
                    <div class="row_input">
                        <input class="inputbox" data-val="true" data-val-equalto="2 mật khẩu không giống nhau" data-val-equalto-other="*.PASSWORD" id="CONFIRM_PASSWORD" name="CONFIRM_PASSWORD" placeholder="Xác nhận mật khẩu" type="password" />
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl">Họ tên <span class="required">*</span></label>
                    <div class="row_input">
                        <input class="inputbox" data-val="true" data-val-required="Vui lòng nhập họ tên" id="FULL_NAME" name="FULL_NAME" placeholder="Họ và tên" type="text" value="" />
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl"> Ngày tháng năm sinh</label>
                    <div class="row_input birthday">
                        <div>
                            <div class="dropdown_list fl">
                                <select class="inputbox accountCreateBirthYear" id="YEAR" name="YEAR"><option value="">Năm</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
</select>
                            </div>
                            <div class="dropdown_list fl">
                                <select class="inputbox accountCreateBirthYear" id="MONTH" name="MONTH"><option value="">Th&#225;ng</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
                            </div>
                            <div class="dropdown_list fl">
                                <select class="inputbox accountCreateBirthDay" id="DAY" name="DAY"><option value="">Ng&#224;y</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
</select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_account sex">
                    <label class="item_title fl"> Giới tính</label>
                    <div class="row_input">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <input data-val="true" data-val-number="The field SEX must be a number." data-val-required="The SEX field is required." id="SEX" name="SEX" type="radio" value="1" />
                                        <label>Nam</label>
                                    </td>
                                    <td>
                                        <input id="SEX" name="SEX" type="radio" value="2" />
                                        <label>Nữ</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl">Địa chỉ <span class="required">*</span></label>
                    <div class="row_input">
                        <textarea class="inputbox" cols="20" data-val="true" data-val-required="Vui lòng nhập địa chỉ" id="ADDRESS" name="ADDRESS" placeholder="Địa chỉ" rows="2">
</textarea>
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl" for="formCountry"> Tỉnh/thành phố<span class="required">* <span data-val-controltovalidate="ContentPlaceHolder1_Drcity" data-val-errormessage="Vui lòng chọn tỉnh/thành phố" data-val-display="Dynamic" data-val-validationGroup="G8" id="ContentPlaceHolder1_RequiredFieldValidator6" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="0" style="color:Red;display:none;">*</span></span></label>
                    <div class="row_input">
                        <div class="dropdown_list">
                            <select class="inputbox" data-val="true" data-val-number="The field CITY_ID must be a number." data-val-required="Vui lòng chọn tỉnh/thành phố" id="CITY_ID" name="CITY_ID"><option value="">Tỉnh/th&#224;nh phố</option>
<option value="19">H&#224; Nội</option>
<option value="20">Hồ Ch&#237; Minh</option>
<option value="75">Đ&#224; Nẵng</option>
<option value="84">An Giang</option>
<option value="97">B&#224; Rịa - Vũng T&#224;u</option>
<option value="106">Bắc Giang</option>
<option value="117">Bắc Kạn</option>
<option value="126">Bạc Li&#234;u</option>
<option value="135">Bắc Ninh</option>
<option value="144">Bến Tre</option>
<option value="154">B&#236;nh Định</option>
<option value="166">B&#236;nh Dương</option>
<option value="174">B&#236;nh Phước</option>
<option value="185">B&#236;nh Thuận</option>
<option value="197">C&#224; Mau</option>
<option value="207">Cần Thơ</option>
<option value="218">Cao Bằng</option>
<option value="233">Đăk Lăk</option>
<option value="249">Đăk N&#244;ng</option>
<option value="258">Điện Bi&#234;n</option>
<option value="268">Đồng Nai</option>
<option value="280">Đồng Th&#225;p</option>
<option value="291">Gia Lai</option>
<option value="308">H&#224; Giang</option>
<option value="320">H&#224; Tĩnh</option>
<option value="334">Hải Dương</option>
<option value="348">Hải Ph&#242;ng</option>
<option value="365">Hậu Giang</option>
<option value="373">H&#242;a B&#236;nh</option>
<option value="385">Hưng Y&#234;n</option>
<option value="396">Kh&#225;nh H&#242;a</option>
<option value="405">Ki&#234;n Giang</option>
<option value="421">Kon Tum</option>
<option value="433">Lai Ch&#226;u</option>
<option value="441">L&#226;m Đồng</option>
<option value="454">Lạng Sơn</option>
<option value="466">L&#224;o Cai</option>
<option value="476">Long An</option>
<option value="491">Nam Định</option>
<option value="503">Nghệ An</option>
<option value="524">Ninh B&#236;nh</option>
<option value="533">Ninh Thuận</option>
<option value="542">Ph&#250; Thọ</option>
<option value="557">Ph&#250; Y&#234;n</option>
<option value="568">Quảng B&#236;nh</option>
<option value="575">Quảng Nam</option>
<option value="596">Quảng Ng&#227;i</option>
<option value="611">Quảng Ninh</option>
<option value="629">Quảng Trị</option>
<option value="641">S&#243;c Trăng</option>
<option value="652">Sơn La</option>
<option value="665">T&#226;y Ninh</option>
<option value="674">Th&#225;i B&#236;nh</option>
<option value="683">Th&#225;i Nguy&#234;n</option>
<option value="692">Thanh H&#243;a</option>
<option value="719">Thừa Thi&#234;n Huế</option>
<option value="728">Tiền Giang</option>
<option value="739">Tr&#224; Vinh</option>
<option value="748">Tuy&#234;n Quang</option>
<option value="755">Vĩnh Long</option>
<option value="764">Vĩnh Ph&#250;c</option>
<option value="773">Y&#234;n B&#225;i</option>
</select>
                        </div>
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl" for="formCountry"> Quận/huyện<span class="required">* <span data-val-controltovalidate="ContentPlaceHolder1_Drdistric" data-val-errormessage="Vui lòng chọn quận/huyện" data-val-display="Dynamic" data-val-validationGroup="G8" id="ContentPlaceHolder1_RequiredFieldValidator5" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="0" style="color:Red;display:none;">*</span></span></label>
                    <div class="row_input">
                        <div class="dropdown_list">
                            <select class="inputbox" data-val="true" data-val-number="The field DISTRICT_ID must be a number." data-val-required="Vui lòng chọn quận/huyện" id="DISTRICT_ID" name="DISTRICT_ID"><option value="">Quận/huyện</option>
</select>
                        </div>
                    </div>
                </div>
                <div class="row_account">
                    <label class="item_title fl">Số điện thoại <span class="required">*</span></label>
                    <div class="row_input">
                        <input class="inputbox" data-val="true" data-val-required="Vui lòng nhập số điện thoại" id="PHONE" name="PHONE" placeholder="Số điện thoại" type="text" value="" />
                    </div>
                </div>
                <div class="row_account button_change">
                    <p class="mts"> <span class="required">* Thông tin bắt buộc</span></p>
                    <p class="mts"> <span class="required"><div class="validation-summary-valid required" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div></span></p>
                    <button class="btn_web btn_regis">Đăng ký<i class="arr_circle"></i></button>
                </div>
            </div>
        <!--end Form Regis-->
</form>    </div>
    <!--End Main-->
</div>

    <!--Policy-->
   <div class = "container">
    <section id="policy" style = "margin-bottom: 10px; background: #337ab7">
        <div class="container">
            <ul>
                <li class="columns">
                    <div class="poli_item">
                        <span class="poli_icon"><i class="fa fa-certificate"></i></span> <a href="#">
                            <div class="poli_desc"><span>100% sản phẩm</span> chính hãng - giá tốt </div>
                        </a>
                    </div>
                </li>
                <li class="columns">
                    <div class="poli_item">
                        <span class="poli_icon"> <i class="fa fa-refresh"></i></span> <a href="#">
                            <div class="poli_desc"> Đổi trả hàng <span>Trong vòng 7 ngày</span> </div>
                        </a>
                    </div>
                </li>
                <li class="columns">
                    <div class="poli_item">
                        <span class="poli_icon"><i class="fa fa-truck"></i></span> <a href="#">
                            <div class="poli_desc"> Giao hàng miễn phí <span>trong vòng 24 giờ</span> </div>
                        </a>
                    </div>
                </li>
                <li class="columns">
                    <div class="poli_item">
                        <span class="poli_icon"> <i class="fa fa-money"></i></span> <a href="#">
                            <div class="poli_desc"> Thanh toán <span>nhanh chóng & an toàn</span> </div>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="cf"></div>
        </div>
    </section>
	</div>

<!--end Newletters-->

    <!-- end SEO content -->
    <!--Footer-->
   <footer style = "background: black">
	<!-- FOOTER TOP -->

		<section class=" " id="footer-newsletter-box" style ="margin-top:1px; background: #337ab7">
				<div class="container page-builder-ltr">
	<div class="row row_9sqy ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_jqwv col-style">

<div class="module news-letter">
    <div class="">
				        <div class="title-block">
                        <div class="page-heading">
                <h4>Nhận thông tin khuyến mãi từ SoSanh.com</h4>
            </div>

        </div>
		<div class="block_content">
			<form class="navbar-form navbar-left" role="form">
	<div class="form-group">
	<input class="form-control" placeholder="Tìm Sản Phẩm" style="width:400px">
	</div>
	<button class="btn btn-primary" type="submit" style = "padding: 6px 6px; background: yellow" > <p style = "color: black">Đăng ký</p></button>
	</form>
		</div> <!--/.modcontent-->
		    </div>

</div>

																				</div>

	</div> 	</div> 				</section>

<section class=" section-image" id="store-box" >

	<div class="container page-builder-ltr">

		<div class="row row_lro8 ">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_1ulk col-style">
				<div class="yt-tabs basic  yt-clearfix ">

				<div class="">
				<div class="clearfix active" >
				<div class="row">

				<div class="col-sm-6">
<p><span style="font-size:16px"><span class="fa fa-map-marker"></span></span><span style="font-size:16px">268 Lý Thường Kiệt, Phường 14, Quận 10, TPHCM</span></p>


<p><span style="font-size:16px"></span></p>

<p><span style="font-size:16px"><strong><span style="color:#cc0000"><span class="fa fa-phone" style="color:#ffffff"></span>&nbsp;</span><span style="color:#cc0000"></span><span style="color:#cc0000">1000000000</span><span style="color:#cc0000"></span><span style="color:#cc0000"></span></strong></span></p>

<p><span style="font-size:16px"><span class="fa fa-envelope"></span>&nbsp;SoSanh@gmail.com</span></p>

<p><span style="font-size:16px"><span class="fa fa-clock-o"></span>&nbsp;Giờ làm việc: 24h</span></p>
</div>

<div class="col-sm-6">
<iframe width="100%" height="230" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.7375230510226!2d106.6571342080269!3d10.774881648080665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec3c161a3fb%3A0xef77cd47a1cc691e!2sHo+Chi+Minh+City+University+of+Technology!5e0!3m2!1sen!2s!4v1523596310070" frameborder="0" allowfullscreen="" style="border:0"></iframe>









</div>












</div>
</div>

</div>
</div>																				</div>

	</div> 	</div>
	</section>


	</div>
		<!-- FOOTER CENTER -->
	<div class="footer-center">
		<div class="footer-center-1 container">
			<div class="row">


											</div>
		</div>

		<div class="footer-center-2">
			<div class="container">
				<div class="row">
														</div>
			</div>
		</div>

	</div>

	<!-- FOOTER BOTTOM -->
	<div class="footer-bottom " style = " background: #337ab7">
		<div class="container" >
			<div class="row">
								<div class="col-sm-4 copyright">
					© SoSanh company 2018 All Rights Reserved. Designed by <a href="">OISP - 2</a>
				</div>


			</div>
		</div>
	</div>
</footer>




































<script src="bundles/libraryscript6dbe?v=yO8Wx6-xlWPOfKAmjm2e0J13GbXzbogl21VFrfwzl1g1"></script>
<script src="bundles/jqueryUibd79?v=bcyTQsH7OGFZEqsqnZ6CibrPNvwdiXK__7F649I2ARk1"></script>
<script src="bundles/commonscript7bdc?v=-A8pKd20pofNOVhk7i4LsBIkyoCyN_VOzbOEavOP5S81"></script>

<script src="bundles/customermanagementc03b?v=ozO5J0SudmZ3RYmPyMxlLli01-YUB7NIN6dcOfUhtX41"></script>










</body>
</html>
