<% include partials/headerProduct %>
<div class="container">
  <div class="breadcrum">
    <div class="container"><a href="index.html" style = "margin-left:15px">Trang chủ</a> / <a href="dang-ky.html">Đăng ký</a> </div>
  </div>
</div>
<div class="container cf">
  <!-- #Main -->
  <div id="main">
    <!--Form Regis-->
    <form action="/dang-ky" class="form-horizontal" method="POST">
      <div class="form_web form_regis padd_tb15 cf">
        <div class="row_account">
          <label class="item_title fl">Email </label>
          <div class="row_input">
            <input class="inputbox" name="mail" placeholder="Địa chỉ email" type="text" value="" />
          </div>
        </div>
        <div class="row_account">
          <label class="item_title fl"> Mật khẩu </label>
          <div class="row_input">
            <input class="inputbox" name="password" placeholder="Mật khẩu" type="password" />
          </div>
        </div>
        <div class="row_account button_change">
          <button class="btn_web btn_regis">Đăng ký<i class="arr_circle"></i></button>
        </div>
      </div>
      <!--end Form Regis-->
    </form>
  </div>
  <!--End Main-->
</div>
<% include partials/footer %>
