.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
#store-box{background-image:url('../../../../../Data/Ads/HCMC.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ;background-size:cover;}

